@charset "UTF-8";

article,
footer,
header,
main,
nav,
section {
  display: block;
}

html,
body,
h1,
h2,
ul,
li,
a,
p,
article,
footer,
header,
main,
nav,
section {
  padding: 0;
  margin: 0;
}

.body {
  background-color: green;
}


.article {
  background-color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  border: 10%;
  padding: 0%;
}

.logo {
  float: none;
}

.h1 {
  float: right;
  width: 70%;
}